/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

div.popover.hover-popover.bibeltext-popover {
	overflow: auto !important;
	--popover-height: auto;
	--popover-width: auto;
}

span.indented {
	display: inline-block;
	padding-left: 3em;
	text-indent: -1.5em;
}
span.first.indented {
	text-indent: -3em;
}
